
/* Achtergrond pagina */
body {
  background-color: lightblue;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active {
  background-color: #04AA6D;
}

/* Add a gray right border to all list items, except the last item (last-child) */
li {
  border-right: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.welkomtekst {
  text-align: center;
}

footer {
  text-align: center;
  background-color: #5c5c5c;
  width: 100%;
  left: 0px;
  right: 0px;

}

.title {
  text-align: center;
}

p {
 font-family: Arial;
}

#white {
  color: white;
}

.band {
  font-style: italic;
}

.wiebenikdiv {
  border: 5px outset red;
}

table, th, td {
  border: 1px solid black;
}

